<div class="userContainer">
    <h1>User Section</h1>
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, adipisci neque! Qui neque soluta optio,
        velit vel quibusdam sapiente tempora voluptas, aperiam labore ipsum! Veritatis, nobis ipsum? Nihil, perferendis
        at.</span>

    <button class="plusButton" (click)="dialogAddUserOpenClose()">
        <img src="assets/img/plusButton.png" alt="Trash Icon">
    </button>

    <div id="dialogAddUser" class="d-none">
        <app-dialog-add-user></app-dialog-add-user>
    </div>
    <div id="dialogAddUserBG" class="d-none"></div>
</div>